<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e343710a-b66d-46d3-8af1-525d4c90db7e/resourceGroups/testapihamza_group/providers/Microsoft.Web/sites/TestApiHamza</ResourceId>
    <ResourceGroup>testapihamza_group</ResourceGroup>
    <ApiResourceId>/subscriptions/e343710a-b66d-46d3-8af1-525d4c90db7e/resourceGroups/testapihamza_group/providers/Microsoft.ApiManagement/service/TestAPI2api/apis/TestAPI2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testapihamza.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>93af0cd0-c38c-43c3-8fd0-6ca98c06de08</ProjectGuid>
    <MSDeployServiceURL>testapihamza.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TestApiHamza</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TestApiHamza</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>